@media screen and (min-width: 1300px) {
  .before {
    float: left;
    border: 4px solid #995c00;
    padding: 4px;
    margin: 6px;
  }

  .during {
    float:left;
    border: 4px solid #995c00;
    padding: 4px;
    margin: 6px;
  }

  .after {
    float: left;
    border: 4px solid #995c00;
    padding: 4px;
    margin: 6px;
  }

  #vert {
    float: right;
    margin-top: 70px;
    margin-right: 100px;
    border: 20px solid #006600;
    padding: 10px;
  }

  h1 {
    text-align: center;
    font-weight: bold;
    font-family: fantasy;
  }

  h2 {
    color: green;
    font-weight: bolder;
    font-family: cursive;
  }

  body {
    background-image:url(http://dendro.cnre.vt.edu/dendrology/images/Carya%20ovata/wood.jpg);
    background-image:linear-gradient();

  }

  p {
    width: 31%;
    font-weight: bold;
  }

  body h1 p {
    font-family: fantasy;
    text-shadow: 1px; white;
  }
}

@media screen and (max-width: 1300px) and (min-width: 600px)  {
  .before {
    float: left;
    border: 4px solid #995c00;
    padding: 4px;
    margin: 6px;
  }

  .during {
    float:left;
    border: 4px solid #995c00;
    padding: 4px;
    margin: 6px;
  }

  .after {
    float: left;
    border: 4px solid #995c00;
    padding: 4px;
    margin: 6px;
  }

  #vert {
    float: left;
    margin-top: 70px;
    margin-right: 100px;
    border: 10px solid #006600;
    padding: 10px;
  }

  h1 {
    text-align: left;
    font-weight: bold;
    font-family: sans-serif;;
  }

  h2 {
    color: green;
    font-weight: bolder;
    font-family: cursive;
  }

  body {
    background-image:url(http://dendro.cnre.vt.edu/dendrology/images/Carya%20ovata/wood.jpg);
    background-image:linear-gradient();

  }

  p {
    width: 31%;
    font-weight: bold;
  }

  body h1 p {
    font-family: fantasy;
    text-shadow: 1px; white;
  }
}

@media screen and (max-width: 600px)  {
  .before {
    float: left;
    border: 4px solid #995c00;
    padding: 4px;
    margin: 6px;
  }

  .during {
    float:left;
    border: 4px solid #995c00;
    padding: 4px;
    margin: 6px;
  }

  .after {
    float: left;
    border: 4px solid #995c00;
    padding: 4px;
    margin: 6px;
  }

  #vert {
    float: left;
    margin-top: 70px;
    margin-right: 100px;
    border: 20px solid #006600;
    padding: 10px;
  }

  h1 {
    text-align: left;
    font-weight: bold;
    font-family: sans-serif;;
  }

  h2 {
    color: green;
    font-weight: bolder;
    font-family: cursive;
  }

  body {
    background-color: white;
  }

  p {
    width: 31%;
    font-weight: bold;
  }

  body h1 p {
    font-family: fantasy;
    text-shadow: 1px; white;
  }
}
