.before {
  float: left;
  border: 4px solid #995c00;
  padding: 4px;
  margin: 6px;
}
.during {
  float:left;
  border: 4px solid #995c00;
  padding: 4px;
  margin: 6px;
}
.after {
  float: left;
  border: 4px solid #995c00;
  padding: 4px;
  margin: 6px;
}
h1 {
  text-align: center;
  color: #995c00;
  font-family: fantasy;
}
h2 {
  color: green;
  font-family: cursive;
}
body {
  background-color: tan;
}
